# Copy this file to .env and fill in your values
# DO NOT commit .env to git

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
FRONTEND_URL=https://your-app.netlify.app
PORT=3000
